<!DOCTYPE html>
<html>
<head>

</head>
<body style="font-family: sans-serif;">
<div id="container">
	<h2>Editing action</h2>

	<% if @article.errors.any? %>
		<h4 style="font-family: sans-serif;">The following errors prevented the article from being created</h4>
		<ul>
		<% @article.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
		<% end %>
		</ul>
	<% end %>

	<%= form_for @article do |i| %>
		<p>
			<%= i.label :title %><br/>
			<%= i.text_field :title %>
		</p>

		<p>
			<%= i.label :description %><br/>
			<%= i.text_area :description %>
		</p>

		<p>
			<%= i.submit %>
		</p>
	<% end %>
</div>
</body>
</html> 