<%= render "shared/error", obj: @user%>

<div class="row">
	<div class="col-xs-12">
		<%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |i| %>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= i.label :username %>
				</div>
				<div class="col-sm-8">
					<%= i.text_field :username, class: "form-control", placeholder: "Enter Username", autofocus: true %>
				</div>
			</div>

			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= i.label :email %>
				</div>
				<div class="col-sm-8">
					<%= i.text_field :email, class: "form-control", placeholder: "Enter Email-Id"%>
				</div>
			</div>

			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= i.label :password %>
				</div>
				<div class="col-sm-8">
					<%= i.password_field :password, class: "form-control", placeholder: "Enter Password"%>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<%= i.submit(@user.new_record? ? "Sign Up" : "Update Account", class: "btn btn-primary") %>
				</div>
			</div>
		<% end %>
	</div>
	<div align="center">
		[ <%= link_to "Cancel Request", articles_path %> ]
	</div>
</div>